.footer{
    color: var(--gray);
    width: 1110px;
    margin: auto;
    padding-top: 80px;
}
.footer__item{
    padding: 30px 0;
    justify-content: space-between;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
}
.footer__line{
    width: 1110px;
    height: 1px;
    border: 1px solid #565656;
}
