.header {
    padding-top: 51px;
    position: absolute;
}
.nav__menu{
    position: absolute;
width: 1110px;
height: 27px;
left: 405px;
top: 50px;
}
.header__logo {
    position: absolute;
    width: 150px;
    height: 1045px;
    left: 0px;
    top: 0px;
    background: rgba(51, 51, 51, 0.75);
}

.inf__text {
    position: absolute;
    width: 242px;
    height: 25px;
    left: -44px;
    top: 491px;
    margin: 0;
    white-space: nowrap;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    transform: rotate(-90deg);
}
.linie__svg{ 
position: absolute;
width: 80px;
height: 0px;
left: 35px;
top: 705px;
border: 3px solid #C4C4C4;
transform: rotate(90deg);
}
.icons,.icons1,.icons2,.icons3{
    position: absolute;
    left: 64px;
}
.icons{
    width: 26px;
height: 26px;
top: 785px;
}
.icons1{
    width: 15px;
height: 26px;
top: 841px;
}
.icons2{
    width: 26px;
height: 14px;
top: 896px;
}
.icons3{
    width: 26px;
height: 18px;
top: 941px;
}
.header__content {
    display: flex;
}

.header__nav {
    align-items: center;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);

}

.nav__menu {
    padding-left: 0;
    margin: 0;
}

.nav__item a::before {
    color: var(--white);
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--orange);
    transition: 0.2s;
}

.nav__item a:hover:before {
    width: 100%;
}

.nav__link1 {
    padding-left: 0;
}

.nav__link {
    margin-left: 63px;
    white-space: nowrap;
}

.nav__link6 {
    position: absolute;
    margin-left: 167px;
    width: 119px;
    height: 22px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    white-space: nowrap;
}

